body {
    background-color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.navbar {
    background-color: #ffe17d;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #000000;
}

.tina1 {
    background-color: pink;
    padding: 70px;
    margin-top: 2%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tina2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tina1p {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #ffe17d 5px;
}

.tina2p {
    border-radius: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

/*.h5 {
    list-style-position: inside;
    align-items: right;

}
.list {
    font-size: 16px;
}

.list li {
    list-style-position:outside;
    margin-left: 700px;
}

.p-4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.list li {
    list-style-position:inside;
}
div.list {
    text-align:center;
}
ul.myUL {
    display:inline-block;
    text-align:left;
}